*{
    text-decoration: none;
    list-style-type: none;
    color: black;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top:20px ;
}
.button{
/* button */


background: #6943B7;
border-radius: 10px;


/* button */


color: white;
background: #6943B7;
border-radius: 13px;
padding: 20px;
font-size: 15px;
width: 90px;
text-align: center;


}